*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

}
body{
    font-family: 'Times New Roman', Times, serif;
}
header {
    display: flex;
    height:250px;
    width: 100%;
    background-color: black;
    color: white;
    align-items:center;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
    margin-top: 0;
}
.hamburger {
    display: none;
}
.nav-bar {
   
    gap: 40px;
}

.nav-bar ul{
    display: flex;
    gap: 40px;
}
.nav-bar .active ul{
    opacity: 1;
}

.nav-bar .search {
    display: flex; 
    gap:40px;
    margin-left: 96px;
    margin-bottom: 35px;
}
.search .icons{
    gap:10px;
}
 .search .right-inner-addon i {
    position: absolute;
    right: 320px;
    padding:5px 10px;
    pointer-events: none;
}

input {
    padding: 5px;
    color: white;
    background: black;
    border-top: 0 transparent black;
}
.container{

    width: 100%;
    height: 100vh;
    margin-top:-15px;
    display: flex;
    align-items: center;
  
}

.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
width: 100%;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev{
    color: rgb(252, 248, 248);

}
.slider{
    text-align: center;
   background: black;
    color: #fefefe;
    padding:-50px;
    border-radius: 4px;
}
.quotes {
display: flex;
padding-top: 0;

}
.quotes .text{
    text-align: center;
    background-color: black;
    color: #fefefe;
    border: 1px solid black;
    border-radius: 4px;
    padding: 80px;
    margin: 10px;
}
.p-text{
    padding-right: 50px;
    margin-right: 50px;
}

.arrow{
 margin-top: 40px;
padding-left: 230px;
margin-left: 650px;
}

.post{
    padding: 50px;
    margin: 50px;
    display: flex;
}
.date {
    color: #707070;
}
.card-body{
    padding-left: 50px;
    
}
.card-text{
    padding-bottom:30px ;
}
.card-title h1{
    padding: 0;
    margin: 0;
}
.heading {
    padding: 30px;
    text-align: center;
}
.btn-light{
    font-size: 16px;
    padding: 15px;
    background-color: #fefefe;
    box-shadow: 1px;
}
.btn-light:hover{
    color: #fefefe;
    background-color: black;
    cursor: pointer;
}
.page{
    width: 800px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}
.sponsors .row-1 {
    padding: 30px;
    margin: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr );
    
}
footer{
        height:600px;
        width: 80%;
        background-color: black;
        color: white;
        align-items:center;
        justify-content: space-between;
        padding: 0;
        margin: 30px auto;
    }
    footer .footer{
        padding: 30px;
        margin: 30px;
    }
  footer  .footer-head{
    display: flex;
    padding: 20px;
    margin: 30px;
    justify-items: center;
    justify-content: space-between;
  }
footer .icons img{
    padding-top: 30px;
    padding-right: 50px;
    gap: 30px;
}
hr {
    margin: 30px auto;
    color: #707070;
    border: 1px light #707070;
}
.row {
    display: flex;
    padding: 30px;
    margin: 30px;
    justify-content: space-between;
}
.card p {
    font-size: 14px;
    line-height: 25px;
    padding: 10px;
    gap:10px;
}
.vision{
    color:#707070 ;
    padding-top: 10px;
}
.inst-feed{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    padding-top: 15px;
}
h3{
    padding-left: 10px;
    font-size: 20px;
}
 .card .address{
    color: #707070;
}
@media only screen and (max-width:1200px)  {
    header{
        padding: 0 50px;
    }
    
}
@media only screen and (max-width: 768px) {
    header {
        padding: 0 50px;
    }
    
}
@media only screen and (max-width: 900px) {
    header{
        background-color: black;
        width: 100%;
        height: 150px;
    }
.logo img{
    width:100%;
    height: 30px;
    padding-right: 50px;
    margin-right: 10px;
}
   .hamburger {
    display: block;
    cursor: pointer;
   }
   .hamburger .line{
    width: 30px ;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
   }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar .active{
        height: 450px ;
    }
    .nav-bar .active ul{
        opacity: 1;
    }
    .nav-bar ul{
       display: block;
       width: fit-content;
       margin: 80px auto 0 auto;
       text-align: center;
       transition: 0.5s;
       opacity: 0;

    }
    .nav-bar li {
        margin-bottom: 12px;

    }
    .container{
        display: block;
        position: fixed;
        width: 100%;
        height: 0;
        padding: 0 0;
        margin: 0 0;
    
      
    }
}